*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
	font-size: 15px;
	font-family: Georgia;
	font-weight: bold;
}

a:hover{
	text-decoration: underline;
	color: white;
}

ul{
	padding-top: 17px;
	padding-right: 10px;
	float: right;
}

li{
	display: inline-block;
	padding-left: 25px;
	color: white;
}

.left{
	float: left;
}

#wrap{
	margin: 0 auto;
    text-align: center;
}

#nheader{
	padding-top:20px;
	height: 70px;
	background-image: url(images/frog.jpeg);	
}

h1{
	color: white;
	font-family: Georgia;
	font-weight: bold;
   	font-size: 50px;
	float: left;
}

h2{
	padding-top: 15px;
	color: white;
	font-family: Georgia;
   	font-size: 40px;
	float: left;
	padding-left: 70px;
}

h3{
	color: white;
	font-family: Georgia;
   	font-size: 25px;
	float: left;
	padding-left: 70px;
}

h4{
	color: white;
	font-family: Comic Sans MS;
   	font-size: 17px;
	float: left;
	padding-left: 70px;
	padding-top: 15px;
}

#npara{
	text-align: left;
	background-image: url(images/itsme.png);
	background-attachment: fixed;
	height: 500px;
	padding-top: 200px;
	width: 100%;
	background-size: cover;
	font-family: Comic Sans MS;
}

.thisisme{
	color: white;
	font-size: 20px;
	padding-left: 500px;
	font-weight: bold;
}

.name{
	color: #d1d8e0;
	font-size: 59px;
	padding-left: 480px;
	font-weight: bold;
	font-family: LucidaConsole;
}

.minipara{
	color: white;
	font-size: 16px;
	float: left ;
	padding-right:600px;
	padding-left:420px;
}

#footer{
	background-color: black;
	font-family: Georgia;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 50px;
    padding-top: 24px;
}

#nparad{
	text-align: left;
	background-image: url(images/frogen.png);
	background-attachment: fixed;
	height: 3800px;
	padding-top: 100px;
	width: 100%;
	background-size: cover;
	font-family: LucidaConsole;
}

video{
	margin-left: auto;
    margin-right: auto;
    display: block
}

.info{
	color: #ffcccc;
	font-size: 50px;
	padding-left: 65px;
	font-weight: bold;
	padding-top: 90px;
}

.parainfo{
	color: white;
	font-size: 25px;
	float: left ;
	padding-left:75px;
	font-family: Comic Sans MS;
	padding-top: 20px;
}

.para2{
	padding-left: 230px;
}   

.first{
	font-family: ucidaConsole;
	font-size: 50px;
	color: #d1d8e0;
    float: left ;
    padding-left: 150px;
    font-weight: bold;
    padding-top: 50px;
    text-decoration: underline;
}

.second{
	font-family: ucidaConsole;
	font-size: 20px;
	color: white;
    float: left ;
    padding-left: 150px;
    padding-top: 90px;
}

.mine{
	color: white;
	font-size: 20px;
	float: left ;
	padding-left:70px;
	font-family: Comic Sans MS;
	padding-top: 50px;
	font-weight: bold;
}

.title{
    font-family: LucidaConsole;
    font-size: 50px;
    text-align: center;
    color: #d1d8e0;
    font-weight: bold;
}

.parainfo2{
	color: white;
	font-size: 20px;
	text-align: center;
	padding-left:50px;
	font-family: Comic Sans MS;
}

.img{
	float: right;
	padding-right: 120px;
	padding-top: 60px;
}

.wrippen{
	background-image: url(images/frogen.png);
	background-attachment: fixed;
	background-color: #6F1E51;
	height: 800px;
	padding-top: 80px;
	background-size: cover;
	font-family: LucidaConsole ;
	max-width: 350%;
	width: 100%,
}

h5{
   	font-size: 70px;
	padding-bottom: 30px;
	color: #ffcccc;
}

.inputField{
	margin-bottom: 10px;
}

.inputField input[type="text"],
.wrippen textarea{
	width: 35%;
	padding: 13px;
	border: 2px solid #e0e0e0;
	background-image: url(images/frogen.png);
	color: white;
	font-weight: bold;
	font-size: 15px;
	font-family: LucidaConsole;
}

.wrippen textarea{
	height: 80px;
    resize: none;
}

.wrippen .btn input[type="submit"]{
	border: solid;
	margin-top: 15px;
	width: 10%;
	color: white;
	font-size: 18px;
	background-image: url(images/frogen.png);
	letter-spacing: 5px,
}

#error_message{
	margin-bottom: 10px;
	padding: 0px;
	background: #786fa6;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	transition: all 1s ease;
	font-family: Comic Sans MS; 
}

.social{
	padding-top: 60px;
}

.mintitle{
	color: #6F1E51;
	font-size: 70px;
	padding-bottom: 30px;
	font-weight: bold;
	font-family: Comic Sans MS;
}

.wrippenn{
	background-attachment: fixed;
    background-image: url(images/light.png);
	height: 800px;
	padding-top: 70px;
	background-size: cover;
	font-family: LucidaConsole ;
	max-width: 350%;
	width: 100%,
}

.inputFieldn{
	margin-bottom: 10px;
}

.inputFieldn input[type="text"],
.inputFieldn input[type="password"],
.wrippenn textarea{
	width: 40%;
	padding: 13px;
	border: 2px solid #1B1464;
	background-image: url(images/monnn.png);
	color: white;
	font-weight: bold;
	font-size: 15px;
	font-family: LucidaConsole;
}

.wrippenn textarea{
	height: 80px;
    resize: none;
}

.wrippenn .btn input[type="submit"]{
	border: solid;
	margin-top: 15px;
	width: 10%;
	color: white;
	font-family: Comic Sans MS;
	font-size: 18px;
	font-family: bold;
	background-image: url(images/frogen.png);
	letter-spacing: 5px;
}

.service{
	background-image: url(images/frogen.png);
	background-size: cover;
	background-attachment: fixed;
	height: 5600px;
	padding-top: 70px;
	width: 100%;
}

table{
  padding: 2px;
  padding-top: 10px;
}

td{
	padding: 10px;
}

caption{
	font-family: Comic Sans MS;
	color: #c8d6e5;
	font-size: 40px;
	border: solid;
}
